[deps]
Documenter = "e30172f5-a6a5-5a46-863b-614d45cd2de4"
ModelingToolkit = "961ee093-0014-501f-94e3-6117800e7a78"
SciMLBase = "0bca4576-84f4-4d90-8ffe-ffa030f20462"

[compat]
Documenter = "1"
ModelingToolkit = "8.35, 9"
SciMLBase = "1.74, 2"
