name: Downgrade
on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
# Temporarily disabled: DifferentiationInterface 0.6-0.7 requires ADTypes >= ~1.6,
# but julia-downgrade-compat pins ADTypes to 1.0.0 (minimum of compat "1"),
# making resolution impossible. See https://github.com/SciML/SciMLBase.jl/issues/1232
jobs:
  test:
    if: false
    runs-on: ubuntu-latest
    strategy:
      matrix:
        downgrade_mode: ['alldeps']
        julia-version: ['1.10']
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
      - uses: julia-actions/julia-downgrade-compat@v2
#        if: ${{ matrix.version == '1.6' }}
        with:
          skip: Pkg,TOML,DifferentiationInterface
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        with:
          ALLOW_RERESOLVE: false
